<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="column-layout group_2">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Отборът на ,,Етър 64" спечели Купата на България по хандбал </igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
    <div class="column-layout group_2">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Отборът на ,,Етър 64" спечели Купата на България по хандбал </igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
  </div>
  <div class="row-layout group_3">
    <div class="column-layout group_4">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Супер успех за Алберт Попов!</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
    <div class="column-layout group_2">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_2">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Модерно спортно съоражение във Видин</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
  </div>
</div>
<div class="column-layout group">
  <div class="row-layout group">
    <div class="column-layout group_2">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Новите спортни лица на София</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
    <div class="column-layout group_5">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Нов атрактивен зимен спорт - снежен волейбол</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
  </div>
  <div class="row-layout group">
    <div class="column-layout group_5">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Нов атрактивен зимен спорт - снежен волейбол</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
    <div class="column-layout group_6">
      <igx-expansion-panel [collapsed]="false" class="expansion-panel_1">
        <igx-expansion-panel-body>
          <p class="text">
            Body 1
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="none">
          <igx-expansion-panel-title>Страхотна спортна инициатива </igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </div>
  </div>
</div>
