:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  background-color: hsla(var(--igx-grays-100));
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  overflow: auto;
  position: relative;
  padding: 12px;
  width: 90%;
  height: 883px;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  position: relative;
  width: 739px;
  min-width: 280px;
  min-height: 50px;
}
.group_2 {
  background-color: hsla(var(--igx-surface-500));
  border-color: hsla(var(--igx-grays-300));
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  position: relative;
  padding: 16px 16px 24px;
  width: 736px;
  min-width: 50px;
  max-height: 428px;
  flex-shrink: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  width: 797px;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: auto;
  flex-shrink: 0;
}
.group_6 {
  background-color: hsla(var(--igx-surface-500));
  border-color: hsla(var(--igx-grays-300));
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 16px 16px 24px;
  width: 736px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  position: relative;
  width: 512px;
  min-width: 280px;
  min-height: 50px;
}
.group_8 {
  background-color: hsla(var(--igx-surface-500));
  border-color: hsla(var(--igx-grays-300));
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 16px 16px 24px;
  width: 509px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_9 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  min-height: auto;
  flex-shrink: 0;
}
.group_10 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  min-height: auto;
  flex-shrink: 0;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.text {
  height: max-content;
  min-width: min-content;
}
.avatar {
  --background: none;
  --ig-gray-400: transparent;
}
.hyperlink {
  color: hsla(var(--igx-primary-500));
  height: max-content;
  min-width: min-content;
}
.text_1 {
  color: hsla(var(--igx-grays-800));
  height: max-content;
  min-width: min-content;
}
.text_2 {
  color: hsla(var(--igx-grays-600));
  height: max-content;
  min-width: min-content;
}
.text_3 {
  color: hsla(var(--igx-grays-600));
  margin: 0 4px 0 0;
  height: max-content;
  min-width: min-content;
}
.hyperlink_1 {
  text-align: right;
  color: hsla(var(--igx-primary-500));
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.hyperlink_2 {
  text-align: right;
  color: hsla(var(--igx-primary-500));
  height: max-content;
  min-width: min-content;
}
.avatar_1 {
  background-color: transparent;
  --background: none;
  --ig-gray-400: transparent;
}
.chip {
  margin: 4px 0 0;
  width: max-content;
  height: max-content;
}
.calendar {
  width: 508px;
  height: max-content;
}
.list {
  height: max-content;
}
.grid {
  min-width: 248px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.list_1 {
  height: max-content;
  flex-shrink: 0;
}
